
<form action="/blogs/coments/" method="POST" 
  class="p-4 mt-5 mb-2 col-lg-5 justify-content-center text-light bg_color container">
  <input type="hidden" class="form-control" id="post_id" name="post_id"
    />

  <div class="text-center mt-3">
    <h2 class="display-5">Comment on blog</h2>
  </div>

  <div class="form-group">
    <label for="name"><strong> username</strong> </label>
    <input type="text" class="form-control" id="name" name="name" required
    />
  </div>
  <div  class="form-group">
    <label for="comment"><strong>Comment</strong></label>
    <textarea class="form-control" type="text" id="comment" name="comment" rows="3" value="comment"
    required>
    </textarea>
  </div>
  <button type="submit" class="btn btn-danger">Comment</button>
  <hr class="bg-danger">
</form>

<script>
  const comment = document.querySelector("btn");
  comment.addEventListener("click", (e) => {
    const endPoint = `/blogs/coments/`;
    //doing Ajax request to Server to delete...
    fetch(endPoint, {
        method: "POST",
        body:{
          name:req.body.name, 
          comment:req.body.comment,
          post_id:req.body.post_id,
        },
        "content-type":"application/json"
      })
      .then((response) => response
        .json(alert(response))
      ) //got the responce back from server after deleted the item, and converted it into JSON format
      .catch((err) => console.log(err));
      return false;
  });
</script>

 