<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>

<body>
    <%- include('./partials/nav.ejs') %>

    <div class="blogs content mt-5 w-80 m-5">
        <h2 class='text-center'>Rohit Bhandari</h2>
        <br>
        <br>
        <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Delectus sit nam maxime, natus rem libero consequuntur tempore
            commodi dolorum explicabo ipsum reprehenderit quis dolorem iusto quod ea, fuga,
            <br>
            <br>
            officiis illum. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Amet dicta in aliquam, ipsum
            nesciunt tempore porro, similique odit nostrum repudiandae maxime ipsam et,
            aut provident officia sit libero temporibus facere.</h4>
    </div>
    <%- include('./partials/footer.ejs') %>
    <%- include('./partials/scriptTag.ejs') %>
</body>

</html>