@import url("https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

body {
    /* background-color: black; */

    color: whitesmoke;
    font-family: 'Quicksand', sans-serif;
}

/* .bg_image {

    width: 100%;
    background-image: url('../images/image02.jfif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 70%;
    z-index: -100;
} */

/* .bg_image {
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 0.5942752100840336) 0%, rgba(4, 22, 58, 1) 0%, rgba(7, 57, 93, 1) 60%, rgba(8, 68, 110, 1) 71%, rgba(9, 75, 121, 1) 79%, rgba(0, 212, 255, 1) 100%);
} */

.bg_color {
    background: rgb(2, 0, 36) !important;
    background: linear-gradient(90deg, rgba(2, 0, 36, 0.5942752100840336) 0%, rgba(4, 22, 58, 1) 0%, rgba(7, 57, 93, 1) 58%, rgba(9, 53, 82, 1) 100%, rgba(9, 75, 121, 1) 100%, rgba(2, 65, 78, 1) 100%) !important;
}

.details_bg {
    background-color: black;
}