@import url("https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap");
 
 

body {
  /* background-color: black; */

  color: whitesmoke;
  font-family: "Quicksand", sans-serif;
  overflow-x: hidden;
}

.nav-color {
  background-color: #d63031;
}

.collapse ul a:hover {
  border-bottom: 2px solid whitesmoke;
  transform: scaleX(1.06);
}
 .navbar-collapse ul li a{
  color: #f5f6fa !important;
}
.bg_color {
  background: rgb(2, 0, 36) !important;
  background: linear-gradient(90deg,
      rgba(2, 0, 36, 0.5942752100840336) 0%,
      rgba(4, 22, 58, 1) 0%,
      rgba(7, 57, 93, 1) 58%,
      rgba(9, 53, 82, 1) 100%,
      rgba(9, 75, 121, 1) 100%,
      rgba(2, 65, 78, 1) 100%) !important;
}

.details__bg {
  background-color: black;
}
.about__bg{
  background-color: black;
}
.about__profile{
  background-color: #2f3542;
}
.index__bg{
  background-color: black;
  
}
.index__blogCard{
  background: linear-gradient(217deg, rgba(3, 1, 1, 0.877), rgba(255,0,0,0) 70.71%),
  linear-gradient(127deg, rgba(38, 46, 38, 0.473), rgba(0,255,0,0) 70.71%),
  linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);
  border-radius: 15px;  
  background-color: #d63031;
  color: #ffffff;
  transition: 0.70s;
  -webkit-transition: 0.70s;
  -moz-transition: 0.70s;
  -ms-transition: 0.70s;
  -o-transition: 0.70s;
  margin-right: auto;
  margin-left: auto;
}
.index__blogCard:hover{
  background-color: black;
  transition: 0.70s;
  -webkit-transition: 0.70s;
  -moz-transition: 0.70s;
  -ms-transition: 0.70s;
  -o-transition: 0.70s;
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
}
.index__profile{
  background-color:#2f3542 ;
}


.blog_image img {
  width: 100vw;
  height: 40vh;
}

.details__carousel {
  height: 250px;
  width: 1000px;
}

.upload-image {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto;
  width: 800px;
  height: 400px;
}

.user_image {
  width: 200px;
  height: 70px;
}

.index__image {
  min-width: 290px;
  height: 200px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto;
}

.center {
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
}

strong {
  color: white;
}

.details__blogContent{
  font-family: 'Montserrat', sans-serif;
 background-color: black;

}
 